<div class="container layout-box shadow">
    <form name="addForm">
        <h4 class="modal-title mb-2" ng-if="!updateFlag">Add New Contact</h4>
        <h4 class="modal-title mb-2" ng-if="updateFlag">Edit Contact</h4>
        <div class="form-group">
            <i class="fa fa-asterisk red" style="font-size:10px" aria-hidden="true"></i>
            <label>First Name:</label>
            <input type="text" class="form-control" name="fName" ng-model="contacts.firstName" ng-required="true">
            <span class="red" ng-show="addForm.fName.$touched && addForm.fName.$invalid">
                The First name is required.</span>
        </div>

        <div class="form-group">
            <label for="lName">Last Name:</label>
            <input type="text" class="form-control" name="lName" ng-model="contacts.lastName">
            <span class="red" ng-show="addForm.lName.$touched && addForm.lName.$invalid">
            The Last name is required.</span>
        </div>

        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" name="email" ng-model="contacts.email"
                ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
            <span class="red" ng-show="addForm.email.$invalid && addForm.email.$touched">
                <span ng-show="addForm.email.$error.pattern">Invalid email address.</span>
            </span>
        </div>

        <div class="form-group">
            <i class="fa fa-asterisk red" style="font-size:10px" aria-hidden="true"></i>
            <label for="phNo">Phone Number:</label>
            <input type="number" class="form-control" name="phNo" ng-model="contacts.phone_no" ng-minlength="10"
                ng-maxlength="10" ng-required="true">
            <span class="red" ng-show="addForm.phNo.$error.required && addForm.phNo.$touched">
                Valid phone number is required.</span>
            <span class="red" ng-show="((addForm.phNo.$error.minlength ||
            addForm.phNo.$error.maxlength) && addForm.phNo.$dirty) ">
                phone number should be 10 digits.
            </span>
        </div>

        <div class="form-group">
            <label for="secPhNo">Secondary Number:</label>
            <input type="number" class="form-control" name="secPhNo" ng-model="contacts.secondary_no" ng-minlength="10"
                ng-maxlength="10">
            <span ng-show="addForm.secPhNo.$error.required || addForm.secPhNo.$error.number">
                Valid phone number is required</span>
            <span class="red" ng-show="((addForm.secPhNo.$error.minlength ||
            addForm.secPhNo.$error.maxlength) && addForm.secPhNo.$dirty) ">
                phone number should be 10 digits
            </span>
        </div>
        <div class="form-group">
            <label for="status">Select status:</label>
            <select class="form-control" id="status" ng-model="contacts.status">
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
            </select>
        </div>

        <div class="form-group">
            <label for="fav">Add as favourite:</label>
            <select class="form-control" id="fav" ng-model="contacts.addAsFavaurite">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
        </div>

        <a ui-sref="list">
            <button class="btn btn-success" type="submit" ng-disabled="addForm.$invalid" ng-click="add(contacts)"
                ng-if="!updateFlag">Add New Contact</button>
            <button class="btn btn-success" type="submit" ng-disabled="addForm.$invalid"
                ng-click="updateContact(contacts)" ng-if="updateFlag">Edit Contact</button>
            <button class="btn btn-success">Cancel</button>
        </a>

    </form>
</div>